/* your styles go here */

.slideshow {
    background-color: #3e4040;
    min-width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}


.slideshow p {
    color: #fff;
    width: 33%;
    float: left;
    margin-top: 15px;
}
.slideshow a{
    float: right;
    right: 10px;
}