<!DOCTYPE html>
     <head> 
      <meta charset="utf-8">
      <base href="{{ .Site.BaseURL }}">
      <title>{{ $.Site.Params.Title }}</title>
      <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
      <meta name="google-site-verification" content="NFtw2Dc7IG1FsBfz4B3smJm6bDE3dbfVmEXXmaysLmw" />
      {{ range .Site.Params.navlinks }}
        {{ if .home }}
        <meta http-equiv="refresh" content="0; URL={{ .url | absURL }}" />
        {{ end }}
      {{ end }}
    </head>

